# See https://help.github.com/articles/ignoring-files/ for more about ignoring files.

# dependencies
/myapp_react/node_modules
/myapp_react/.pnp
/myapp_react/.pnp.js

# testing
/myapp_react/coverage

# production
/myapp_react/build

# misc
/myapp_react/.DS_Store
/myapp_react/.env.local
/myapp_react/.env.development.local
/myapp_react/.env.test.local
/myapp_react/.env.production.local

myapp_react/npm-debug.log*
myapp_react/yarn-debug.log*
myapp_react/yarn-error.log*