.news-feed 
{max-width: 800px;
margin: 0 auto;} 
.news-item 
{display: flex;
align-items: center;
margin-bottom: 20px;}

.news-item img 
{
width: 300px;;
height: 300px;
object-fit: contain;
margin-right: 10px;}

.news-content h2 
{margin-top: 0;}
.news-content p 
{color: #555;}